MOHServer/stats.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="player" minOccurs="0" maxOccurs="32">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="kills" type="xs:decimal"/>
							<xs:element name="deaths" type="xs:decimal"/>
							<xs:element name="score" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

